---
import Social from '$lib/components/Social.astro'
import { SITE_URL } from '$lib/const'
import BaseLayout from '$lib/layouts/BaseLayout.astro'
---

<BaseLayout title="About - Techie Faisal" description="" url={`${SITE_URL}/about/`}>
  <main class="container mb-16 mt-12 h-96 max-w-5xl md:mb-24 lg:mt-16">
    <h1 class="text-4xl font-extrabold">About</h1>
    <p class="mt-6 dark:text-zinc-300">
      My name is Faisal. I am a self-taught Web Developer. From a young age, I have been passionate
      about the latest gadgets. Through this blog, I want to help you make your tech purchasing
      decisions better and more efficient.
    </p>

    <p class="mt-6">
      <span class="font-semibold">Email</span>:
      <a href="mailto:contact@techiefaisal.com" target="_blank" class="hover:text-lightBlue"
        >contact@techiefaisal.com</a
      >
    </p>

    <div class="mt-8 flex items-center gap-2">
      <span class="font-semibold">Follow Us:</span>
      <Social />
    </div>
  </main>
</BaseLayout>
