---
import { SITE_URL } from '$lib/const'
import BaseLayout from '$lib/layouts/BaseLayout.astro'
---

<BaseLayout
  title="Privacy Policy - Techie Faisal"
  description=""
  url={`${SITE_URL}/privacy-policy/`}
>
  <main class="container mb-16 mt-12 h-96 max-w-5xl md:mb-24 lg:mt-16">
    <h1 class="text-4xl font-extrabold">Privacy Policy</h1>
    <p class="mt-6 dark:text-zinc-300">
      If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact
      us at [email]
    </p>
  </main>
</BaseLayout>
