---
const { title, link } = Astro.props;
---

<a
  href={link}
  class="bg-zinc-200 dark:bg-zinc-800 hover:bg-lightBlue dark:hover:bg-lightBlue hover:text-white transition py-3.5 px-6 font-semibold rounded-full"
>
  {title}
</a>
