---
import Button from '$lib/components/Button.astro'
---

<div class="contact rounded-lg p-10">
  <h2 class="text-2xl font-bold text-white">Join Us and Let's Explore Together</h2>

  <p class="mt-3 font-medium text-white dark:text-zinc-300 lg:text-lg">
    Welcome to your go-to destination for fresh perspectives. Dive deep into our rich content pool
    curated meticulously to enlighten, entertain, and engage readers across the globe.
  </p>

  <div class="mt-10">
    <Button title="Contact" link="/contact/" />
  </div>
</div>

<style>
  .contact {
    background:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../lib/assets/img/contact_homepage.webp') no-repeat center/cover;
  }
</style>
