---
const navItems = [
  { id: 1, text: 'Home', link: '/' },
  { id: 2, text: 'Articles', link: '/articles/' },
  { id: 3, text: 'About', link: '/about/' },
  { id: 4, text: 'Contact', link: '/contact/' },
  { id: 5, text: 'Privacy Policy', link: '/privacy-policy/' }
]
---

<footer class="bg-zinc-100 pt-10 text-center dark:bg-zinc-900">
  <section class="container">
    <div class="flex flex-wrap items-center justify-center gap-4 sm:gap-8 lg:gap-10">
      <a
        href="#"
        target="_blank"
        aria-label="Facebook Link"
        class="flex items-center gap-2 transition hover:text-lightBlue dark:text-muted-foreground dark:hover:text-lightBlue"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="text-xl md:text-lg"
        >
          <path
            fill="currentColor"
            d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4z"
          ></path>
        </svg>

        <span class="hidden font-medium uppercase lg:block">Facebook</span>
      </a>

      <a
        href="#"
        target="_blank"
        aria-label="twitter/X Link"
        class="flex items-center gap-2 transition hover:text-lightBlue dark:text-muted-foreground dark:hover:text-lightBlue"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="text-xl md:text-lg"
        >
          <path
            fill="currentColor"
            d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231zm-1.161 17.52h1.833L7.045 4.126H5.078z"
          ></path>
        </svg>

        <span class="hidden font-medium uppercase lg:block">Twitter</span>
      </a>

      <a
        href="#"
        target="_blank"
        aria-label="Instagram Link"
        class="flex items-center gap-2 transition hover:text-lightBlue dark:text-muted-foreground dark:hover:text-lightBlue"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="text-xl md:text-lg"
        >
          <path
            fill="currentColor"
            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
          ></path>
        </svg>

        <span class="hidden font-medium uppercase lg:block">Instagram</span>
      </a>

      <a
        href="#"
        target="_blank"
        aria-label="Reddit Link"
        class="flex items-center gap-2 transition hover:text-lightBlue dark:text-muted-foreground dark:hover:text-lightBlue"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          class="text-xl md:text-lg"
        >
          <path
            fill="currentColor"
            d="m11.053 7.815l.751-3.536a2 2 0 0 1 2.372-1.54l3.196.68a2 2 0 1 1-.415 1.956l-3.197-.68l-.666 3.135c1.785.137 3.558.73 5.164 1.7A3.192 3.192 0 0 1 23 12.203v.021a3.2 3.2 0 0 1-1.207 2.55l-.008.123c0 3.998-4.45 7.03-9.799 7.03c-5.333 0-9.708-3.024-9.705-6.953l-.01-.181a3.193 3.193 0 0 1 3.454-5.35a11.45 11.45 0 0 1 5.329-1.628m9.285 5.526a1.19 1.19 0 0 0 .662-1.075a1.192 1.192 0 0 0-2.016-.806l-.585.56l-.67-.455c-1.615-1.098-3.452-1.725-5.23-1.764h-1.006c-1.875.028-3.652.6-5.237 1.675l-.664.45l-.583-.55a1.192 1.192 0 1 0-1.315 1.952l.633.29l-.053.695a4 4 0 0 0 .003.584c0 2.71 3.356 5.03 7.708 5.03c4.371 0 7.799-2.336 7.802-5.107a3 3 0 0 0 0-.507l-.052-.672zM6.951 13.5a1.5 1.5 0 1 1 3 0a1.5 1.5 0 0 1-3 0m7 0a1.5 1.5 0 1 1 3 0a1.5 1.5 0 0 1-3 0m-1.985 5.103c-1.397 0-2.766-.37-3.881-1.21a.424.424 0 0 1 .597-.597c.945.693 2.123.99 3.269.99s2.33-.275 3.284-.959a.44.44 0 0 1 .732.206a.47.47 0 0 1-.12.423c-.683.797-2.483 1.147-3.88 1.147"
          ></path>
        </svg>
        <span class="hidden font-medium uppercase lg:block">Reddit</span>
      </a>
    </div>

    <div class="mt-8">
      <div class="h-px w-full bg-zinc-200 dark:bg-muted"></div>
    </div>

    <nav class="mt-8">
      <ul class="flex flex-wrap items-center justify-center gap-x-4 gap-y-3 md:gap-x-8 lg:gap-x-10">
        {
          navItems.map((item) => (
            <li>
              <a
                href={item.link}
                class="transition hover:text-lightBlue dark:text-muted-foreground dark:hover:text-lightBlue"
              >
                {item.text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <div class="py-6 text-sm dark:text-muted-foreground">
      &copy; {new Date().getFullYear()} - Techie Faisal. All Rights Reserved.
    </div>
  </section>
</footer>
